<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cadastro de Alunos</title>
</head>


<header>
	<form  method="post">
		<div>
			<label for="nome">Nome:</label>
			<input type="text" id="nome" name="nome" placeholder="Nome *"/>
		</div>
		<div>
			<label for="dataDeNascimento">Data de Nascimento:</label>
			<input type="text" id="dataDeNascimento" name="dataDeNascimento" placeholder="DD-MM-YYYY"/>
		</div>
		<div class="button">
			<button type="submit">Enviar dados</button>
		</div>
	</form>

	<div th:each="aluno : ${alunos}">
		<p>
			<p>
				<span>Id: <span th:text="${aluno.id}"></span></span>
			</p>
		
			<p>
				<span>Nome: <span th:text="${aluno.nome}"></span></span>
			</p>
			
			<p>
				<span>Data de Nascimento: <span th:text="${#temporals.format(aluno.dataDeNascimento,'dd-MM-yyyy')}"></span></span>
			</p>
			
			<hr>
		</p>
</div>
</header>



</html>